<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= form.label :first_name, :class=>"active" %>
    <%= form.text_field :first_name %>
  </div>

  <div class="input-field">
    <%= form.label :last_name, :class=>"active" %>
    <%= form.text_field :last_name %>
  </div>

  <div class="input-field">
    <%= form.label :ssn, :class=>"active" %>
    <%= form.text_field :ssn %>
  </div>

  <div class="input-field"> 
    <%= form.label :date_of_birth, :class=>"active" %>'
    <%= form.text_field :date_of_birth, prompt: "Date Of Birth", class: "datepicker",
    :value => (form.object.date_of_birth.strftime('%B %d, %Y') if form.object.date_of_birth != nil)%>
  </div>

  <div class="input-field">
    <%= form.label :phone, :class=>"active" %>
    <%= form.text_field :phone %>
  </div>
  
  <%= form.fields_for :user do |field|%>
    <div class="input-field">
    <%= field.label "Email", :class=>"active" %>
    <%= field.text_field :email %>
    </div>
    
    <div class="input-field">
    <%= field.label "Password",  :class=>"active" %>
    <%= field.password_field :password_digest %>
   </div>
  <% end %>

  <div class="input-field">
    <%= form.label :role, :class=>"active" %>
    <%= form.collection_select :role, Employee::ROLE, :to_s, :to_s, :include_blank => true %> <br />
  </div>
  


  <div class="row">
    <%= form.check_box :active, :class=>"active"%>
    <%= form.label :active %><br />
  </div>

  <div class="actions">  
	  <%= form.submit :class=>"btn waves-effect waves-light" %>  
	  <%= link_to 'Cancel', employees_path, :class => 'waves-effect waves-light btn red' %> 
	</div>
<% end %>
