<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @flavor.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @flavor.active %>
</p>

<div class="row"></div>
<div class="col s3"><%= link_to 'Back', flavors_path, :class=>"teal-text text-lighten-1" %>&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'Edit', edit_flavor_path(@flavor), :class=>"teal-text text-lighten-1" %></div>
<div class="row"></div>