<p id="notice"><%= notice %></p>

<h1>Falvors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @falvors.each do |falvor| %>
      <tr>
        <td><%= falvor.name %></td>
        <td><%= falvor.active %></td>
        <td><%= link_to 'Show', falvor %></td>
        <td><%= link_to 'Edit', edit_falvor_path(falvor) %></td>
        <td><%= link_to 'Destroy', falvor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Falvor', new_falvor_path %>
