<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= form.label :name, :class=>"active" %>
    <%= form.text_field :name %>
  </div>

  <div class="input-field">
    <%= form.label :description, :class=>"active" %>
    <%= form.text_field :description %>
  </div>

  <div class="row">
    <%= form.check_box :active, :class=>"active"%>
    <%= form.label :active %><br />
  </div>

   <div class="actions">  
	  <%= form.submit :class=>"btn waves-effect waves-light" %>  
	  <%= link_to 'Cancel', employees_path, :class => 'waves-effect waves-light btn red' %> 
	</div>
<% end %>
