<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @job.active %>
</p>

<div class="row"></div>
<div class="col s3"><%= link_to 'Back', jobs_path, :class=>"teal-text text-lighten-1" %>&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'Edit', edit_job_path(@job), :class=>"teal-text text-lighten-1" %></div>
<div class="row"></div>