<%= form_with(model: shift, local: true) do |form| %>
  <% if shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% shift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= form.label :assignment_id, :class=>"active" %>
    <%= form.select :assignment_id, @assigments.map{|a| [a.id,a.id]}, include_blank: true %>
  </div>

  <div class="input-field"> 
    <%= form.label :date, :class=>"active"  %>'
    <%= form.text_field :date, prompt: " Date", class: "datepicker",
    :value => (form.object.date.strftime('%B %d, %Y') if form.object.date != nil)%>
  </div>

  <div class="field">
    <%= form.label :start_time, :class=>"active" %>
    <%= form.time_field :start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.time_field :end_time %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>

  <div class="actions">  
	  <%= form.submit :class=>"btn waves-effect waves-light" %>  
	  <%= link_to 'Cancel', employees_path, :class => 'waves-effect waves-light btn red' %> 
	</div>
<% end %>
