<p id="notice"><%= notice %></p>

<h1>Shifts</h1>

<table>
  <thead>
    <tr>
      <th>Assignment</th>
      <th>Date</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shifts.each do |shift| %>
      <tr>
        <td><%= shift.assignment_id %></td>
        <td><%= shift.date %></td>
        <td><%= shift.start_time %></td>
        <td><%= shift.end_time %></td>
        <td><%= shift.notes %></td>
        <td><%= link_to 'Show', shift, :class=> "teal-text text-lighten-1" %></td>
        <td><%= link_to 'Edit', edit_shift_path(shift), :class=> "teal-text text-lighten-1" %></td>
        <td><%= link_to 'Destroy', shift, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "teal-text text-lighten-1" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="col">
    <%= link_to 'New Shift', new_shift_path, :class=> "btn waves-effect waves-teal" %>
</div>

<div class="row"></div>