<p id="notice"><%= notice %></p>

<p>
  <strong>Assignment:</strong>
  <%= @shift.assignment_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @shift.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @shift.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @shift.end_time %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @shift.notes %>
</p>

<div class="row"></div>
<div class="col s3"><%= link_to 'Back', shifts_path, :class=>"teal-text text-lighten-1" %>&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'Edit', edit_shift_path(@shift), :class=>"teal-text text-lighten-1" %></div>
<div class="row"></div>
